In [ ]:
#name: Ajay Kumar Pandit
#M. No.: 91-7011875051 or w-9278502575

Install Jupyter notebook and run the first program and share the screenshot of the output.

In [39]:
n=int(input("enter the value : "))
i=1
print("Table of you given number: ",n)
while i<=10:
    print(n*i)
    i=i+1

enter the value : 5
Table of you given number:  5
5
10
15
20
25
30
35
40
45
50

Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [32]:
r=[]
for t in range (200, 3201):
    if (t%7==0) and (t%5==0):
        r.append(str(t))
print(','.join(r))

210,245,280,315,350,385,420,455,490,525,560,595,630,665,700,735,770,805,840,875,910,945,980,1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

"""Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.""""

In [9]:
n1=input("Enter your first name: ")
n2=" "
n3=input("Enter your last name: ")

n4=n1+n2+n3
print(n4[::-1])

Enter your first name: Ajay
Enter your last name: Kumar
ramuK yajA

In [11]:
n1="Ajay"
n2=" "
n3="Kumar"

n4=n1+n2+n3
print(n4[::-1])

ramuK yajA

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r**3

In [24]:
d=12
pi=3.1415926535897931
r=d/2
V=4.0/3.0*pi*r**3
print("The volume of spher is: ",V)

The volume of spher is  904.7786842338603

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [1]:
value=input("writ the input comma-separated numbers: ")
list=value.split(",")
print(list)

writ the input comma-separated numbers: 2,3,3,4,4,2,2333,324,3
['2', '3', '3', '4', '4', '2', '2333', '324', '3']

Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
n=5
for i in range(n):
    for j in range(i):
        print("*", end="")
    print(" ")
for i in range(n,0,-1):
    for j in range(i):
        print("*", end="")
    print("")

*
**
***
****
*****
****
***
**
*

Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [34]:
d=input("Enter the word here for reversing: ")
print(d[::-1])

Enter the word here for reversing: AcadGild
dliGdacA

Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:

WE, THE PEOPLE OF INDIA,
    having solemnly resolved to constitute India into a SOVEREIGN, !
           SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
           and to secure to all its citizens

NOTE: The solution shared through Github should contain the source code used  and
the screenshot of the output.

In [35]:
print("WE, THE PEOPLE OF INDIA, \n\thaving solemnly resolved to constitute India into a SOVEREIGN, ! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\tand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens